{% extends_admingenerated "NitraSMSBundle:SmsList:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts 
            '@NitraMiniTetradkaBundle/Resources/public/js/jquery.maskedinput.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        // документ готов
        $(document).ready(function() {

            $('#filters_sms_phone').on('focusin', function() {
                // преобразуем формат номера телефона
                var str = $('#filters_sms_phone').val();
                $('#filters_sms_phone').mask('+38 (999) 999-99-99');
                $('#filters_sms_phone').val(str);
            });
            $('#filters_sms_phone').on('focusout', function() {
                // преобразуем формат номера телефона
                $('#filters_sms_phone').unmask();
            });
        });
    </script>
{% endblock javascript_head %}